<h1>Listing posts</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Title</th>
    <th>P url</th>
    <th>P title</th>
    <th>Status</th>
    <th>Category</th>
    <th>P ip</th>
    <th>R ip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.url %></td>
    <td><%= post.title %></td>
    <td><%= post.p_url %></td>
    <td><%= post.p_title %></td>
    <td><%= post.status_id %></td>
    <td><%= post.category_id %></td>
    <td><%= post.p_ip %></td>
    <td><%= post.r_ip %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
